table.main_table{
    font-size: 32px;
    border: 1px solid black;
    border-collapse: collapse;
}
table.main_table td{
    background-color: rgb(158, 126, 210);
    border: 1px solid black;
    text-align: center;
}
table.main_table tr:first-child td{
    background-color: rgb(210, 154, 1);
    border-bottom: 2px solid black;
    font-size: 20px;
}

table.main_table td:first-child{
    background-color: rgb(210, 154, 1);
    border-right: 2px solid black;
    font-size: 20px;

}
table.main_table tr td:hover{
    background-color: #26c209;
}
