body {
    width: 600px;
    margin: 0 auto;
}

body h1 {
    text-align: center;
}

textarea.input, textarea.output {
    width: 200px;
    height: 80px;
}

table.form button {
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

div.radio label{
    margin-right: 10px;
}

div.decode_table div.table:not(:first-child){
    display: none;
}