div.table {
    display: none;
}
div.table button{
    margin-right: 5px;
}
div.table div.add {
    margin-bottom: 10px;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul li span{
    font-size: 20px;
}

ul li span.name:hover {
    cursor: pointer;
    color: #ff7b00;
}

div.table table input{
    width: 20px;
}

table.main_table {
    margin-bottom: 10px;
}

span.delete{
    cursor: pointer;
    color: #ff0000;
}

span.success{
    color: #1b8b09;
}