<ul>
    {{#each this}}
    <li data-filePath="{{filePath}}">
        <span class="name">{{name}}</span>
        <div class="table">
            <input class="name" value="{{name}}">
            <table class="main_table">
                <tbody>
                {{#each data}}
                {{#if @first}}
                <tr>
                    <td>*</td>
                    {{#each this}}
                    <td>
                        <span class="delete col">X</span>
                        <input class="col" type="text" value="{{@key}}">
                    </td>
                    {{/each}}
                </tr>
                {{/if}}
                <tr>
                    <td>
                        <span class="delete row">X</span>
                        <input class="row" type="text" value="{{@key}}">
                    </td>
                    {{#each this}}
                    <td>
                        <input class="value" data-row="{{@../key}}" data-col="{{@key}}" type="text" value="{{@this}}">
                    </td>
                    {{/each}}
                </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="add">
                <button class="add_row">Добавить строку</button>
                <button class="add_col">Добавить столбец</button>
            </div>
            <div class="manage">
                <button class="save">Сохранить</button>
                <button class="reset">Сбросить</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
    </li>
    {{/each}}
    <li class="new">
        <span class="name">Создать новую таблицу</span>
        <div class="table">
            <input class="name" value="new_table">
            <table class="main_table">
                <tbody>
                <tr>
                    <td>*</td>
                    <td>
                        <span class="delete col">X</span>
                        <input class="col" type="text" value="a">
                    </td>
                    <td>
                        <span class="delete col">X</span>
                        <input class="col" type="text" value="b">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="delete row">X</span>
                        <input class="row" type="text" value="a">
                    </td>
                    <td>
                        <input class="value" data-row="a" data-col="a" type="text" value="A">
                    </td>
                    <td>
                        <input class="value" data-row="a" data-col="b" type="text" value="B">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="delete row">X</span>
                        <input class="row" type="text" value="b">
                    </td>
                    <td>
                        <input class="value" data-row="b" data-col="a" type="text" value="E">
                    </td>
                    <td>
                        <input class="value" data-row="b" data-col="b" type="text" value="F">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="add">
                <button class="add_row">Добавить строку</button>
                <button class="add_col">Добавить столбец</button>
            </div>
            <div class="manage">
                <button class="save">Сохранить</button>
                <button class="reset">Сбросить</button>
            </div>
        </div>
    </li>
</ul>