<div class="table table_{{id}}">
    <h2>{{name}}</h2>
    <table class="main_table">
        <tbody>
        {{#each data}}
            {{#if @first}}
            <tr>
                <td>*</td>
                {{#each this}}
                <td>{{@key}}</td>
                {{/each}}
            </tr>
            {{/if}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>